<div class="row">
  <div class="col-md-12">
    <h1>Jane Doe</h1>
    <h2>Front-End Developer</h2>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Praesent gravida turpis ut viverra vestibulum. In lorem arcu, 
      placerat a ex et, scelerisque pretium magna. Praesent et 
      tristique enim. Donec non vehicula tortor, quis vehicula turpis. 
      Quisque dictum, augue ac rhoncus tincidunt, lacus arcu 
      malesuada enim, sed sodales ligula ante mattis velit. 
      Duis et ullamcorper urna. Ut sodales tortor in purus fermentum, quis blandit magna pellentesque. Vivamus vel neque erat. Aenean malesuada, libero sed maximus feugiat, est nulla volutpat turpis, et interdum purus turpis vel enim. Pellentesque egestas at lorem quis posuere. Quisque nec sem nec metus aliquam sagittis. </div>
  </div>
</div>